h1 {
    text-align: center;
    color: pink;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    position: absolute; 
    top: 0;          
    right: 10px;
    color: red;
  }

  body {
    background-color: orange;
  }